[Unit]
Description=Docker container ss-parser@%i service
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/ss-parser@%i.env
ExecStart=/usr/bin/docker run --env-file /etc/sysconfig/ss-parser@%i.env --name ss-parser-%i --rm --user nobody ss-parser:${VERSION}
ExecStop=/usr/bin/docker stop ss-parser-%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
